funcy==1.14
pyarrow==0.16.0
numpy==1.16.2
scipy==1.4.1
tqdm==4.31.1
tensorflow==2.3.1
faiss-gpu==1.5.3
h5py==2.10.0
Click==7.0
statsmodels==0.9.0
pandas==0.24.2
matplotlib==3.0.3
Bio==0.0.6
scikit_learn==0.23.2
tf_agents==0.6.0
keras==2.4.0
biopython==1.72
